@import 'sass/basic.scss';
@import 'sass/colors.scss';

body {
    background-color: $white-background;
    margin: 0;
    padding: 0;

    .header {
        height: 80px;
        border-bottom: 5px solid $header-background;

        .aside-left {
            background-color: white;
        }

        .aside-right {
            background-color: white;
            text-align: center;
            font-size: 2em;
            padding-top: 20px;

            nav.header-nav {
                position: absolute;
                ul {
                    margin-top: -5px;
                    li {
                        display: inline-block;
                        margin-right: 10px;

                        a {
                            text-align: center;
                            font-size: 18px;
                        }
                        
                    }
                }
            }
        }
    }

    .wrapper {
        margin: 0;
        padding: 5px 2px 0 2px;
        background-color: $white-background;
        min-height: 400px;
        .aside-left {
            border-right: 2px solid $header-background;
            padding: 5px;
            text-align: center;
        }
        .center {
            padding: 5px;
            text-align: center;
        }

        .aside-right {
            padding: 5px;
            border-left: 2px solid $header-background;
            text-align: center;
        }
    }

    .footer {
        margin: 0;
        height: 80px;
        border-top: 5px solid $header-background;
        color: $white-background;
        background-color: $header-background;
        padding-top: 5px;
        font-size: 1.1em;

        .copy {
            float: right;
            margin-right: 5px;
        }
    }
}