header.header.container
  div.aside-left.flex-item-3
    img(src="images/logo.png", alt="logo", width="100%", height="80px")
  div.aside-right.flex-item-9 
    nav.header-nav
      ul
        li API:
        li
          a(href="/api/product")
            button Products
        li
          a(href="/api/order")
            button Orders
