$main-background: rgb(152, 201, 118);
$header-background: rgb(107, 198, 229); // #6BC6E5
$aside-background: rgba(255, 204, 62, 0.8);
$red-background: rgba(255, 120, 116, 0.8);
$right-background1: rgba(115, 120, 136, 0.9);
$right-background: rgba(94, 101, 125, 0.9);
$new-background1: rgb(108, 95, 91);
$new-background: rgb(99, 87, 83);
$white-background: #ECE3E4;