.game-description {
    padding: 5%;
    background-color: rgb(74, 55, 55);
    color: whitesmoke;
    text-align: center;

    img {
        border: 1px solid transparent;
        border-radius: 50%;
    }
}