extends ./common/layout

block content
    div API routes:
        ul
            li /api/product
            li /api/order

        div To prettify the objects collection, add "?pretty" to the url endpoint.