form(action= url method="POST")
    h2 API Log in
    br
    label(for="username") username: 
    input(type="text", name="username" required)
    br
    br
    label(for="password") password: 
    input(type="password", name="password" required)
    br
    br
    input(type="submit" value="Submit")