header {
    height: 50px;
    color: whitesmoke;
    background-color: rgb(74, 55, 55);
    border-bottom: 1px solid grey;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 20px;
}